.header{
	position: fixed;
	z-index: 100;
	top: 0;
	left: 0;
	width: 100%;
	padding: 0.35em 0;
	border-bottom: 2px solid var(--yellow);
	background: var(--green);
	&__box{
		display: flex;
		align-items: center;
		justify-content: space-between;
	}
	&__logo{
		width: 13.1875em;
	}
	&__phones{
		width: 16.3em;
	}
}

.nav{
	&__list{
		display: flex;
	}
	&__link{
		padding: 0.9em 0.9em;
		color: var(--white);
		border-radius: var(--borderRadius10px);
		transition: all .3s;
		&:hover{
			color: var(--black);
			background: var(--white);
		}
	}
}

.phones{
	display: flex;
	align-items: center;
    height: 3.1em;
    padding: 0 0.6em;
    border-radius: var(--borderRadiusForButtons);
	background: var(--darkGreen);
	&__icon{
		width: 2em;
		margin: 0 0.4em 0 0;
	}
	&__num{
		font-family: var(--font-2);
		font-size: $px18;
		color: var(--white);
		letter-spacing: 0.4px;
		&:hover{
			color: var(--white);
		}
	}
}

.open-m-menu{
	width: 3.125em;
	img{
		width: 100%;
	}
}

.m-phone{
	width: 3.125em;
	img{
		width: 100%;
	}
}

@media(max-width: 768px){
	.nav{
		position: fixed;
		top: 0;
		left: -100%;
		width: 100%;
		height: 100%;
		padding: 3em 0 0 1em;
		background: var(--green);
		transition: all 0.3s;
		&__list{
			flex-direction: column;
			align-items: flex-start;
		}
		&__item{
			margin: 0 0 1em 0;
		}
		&.active{
			left: 0;
		}
	}
	.close-m-menu{
		position: absolute;
		top: 1em;
		right: 1em;
	}
}